################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.pdb
/projects/x64
/include/include.o
*.TMP
/SE412.zip
